In [58]:
import pandas as pd
df=pd.read_csv('WPP2022.csv')
df.head(15)

C:\Users\E City\AppData\Local\Temp\ipykernel_15012\3856426979.py:2: DtypeWarning: Columns (0,3,4,7,9,10,15,16,17,19,21,25,26,27,28,29,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,49,50,51,52,53,54,55,56,57,58,59,60,61,62,64) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('WPP2022.csv')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,United Nations,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Population Division,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Department of Economic and Social Affairs,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,World Population Prospects 2022,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,File GEN/01/REV1: Demographic indicators by re...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,"Estimates, 1950 - 2021",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,POP/DB/WPP/Rev.2022/GEN/F01/Rev.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,"© July 2022 by United Nations, made available ...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,"Suggested citation: United Nations, Department...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df=df.drop(df[0:15].index)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
15,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
16,1,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,581,498,240,272,208,379,430,325,0,0
17,2,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,567,490,231,258,204,368,416,319,0,0
18,3,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,546,477,219,240,197,353,396,310,0,0
19,4,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,536,470,213,233,193,345,386,304,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20607,20592,Estimates,Wallis and Futuna Islands,2.0,876,WLF,WF,876,Country/Area,957,...,92,103,31,27,34,83,82,83,- 0,-16.7
20608,20593,Estimates,Wallis and Futuna Islands,2.0,876,WLF,WF,876,Country/Area,957,...,99,89,29,29,29,80,89,72,- 0,-14.4
20609,20594,Estimates,Wallis and Futuna Islands,2.0,876,WLF,WF,876,Country/Area,957,...,78,80,24,22,26,67,69,64,- 0,-14.5
20610,20595,Estimates,Wallis and Futuna Islands,2.0,876,WLF,WF,876,Country/Area,957,...,86,86,27,25,28,73,76,70,- 0,-7.1
20611,20596,Estimates,Wallis and Futuna Islands,2.0,876,WLF,WF,876,Country/Area,957,...,89,85,26,25,27,74,80,69,- 0,-7.1

In [60]:
cols=df.iloc[0].to_list()
df.columns=cols
df

,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
15,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
16,1,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,581,498,240,272,208,379,430,325,0,0
17,2,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,567,490,231,258,204,368,416,319,0,0
18,3,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,546,477,219,240,197,353,396,310,0,0
19,4,Estimates,WORLD,NaN,900,NaN,NaN,1,World,0,...,536,470,213,233,193,345,386,304,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20607,20592,Estimates,Wallis and Futuna Islands,2.0,876,WLF,WF,876,Country/Area,957,...,92,103,31,27,34,83,82,83,- 0,-16.7
20608,20593,Estimates,Wallis and Futuna Islands,2.0,876,WLF,WF,876,Country/Area,957,...,99,89,29,29,29,80,89,72,- 0,-14.4
20609,20594,Estimates,Wallis and Futuna Islands,2.0,876,WLF,WF,876,Country/Area,957,...,78,80,24,22,26,67,69,64,- 0,-14.5
20610,20595,Estimates,Wallis and Futuna Islands,2.0,876,WLF,WF,876,Country/Area,957,...,86,86,27,25,28,73,76,70,- 0,-7.1
20611,20596,Estimates,Wallis and Futuna Islands,2.0,876,WLF,WF,876,Country/Area,957,...,89,85,26,25,27,74,80,69,- 0,-7.1

In [61]:
df=df.set_index('Index')

In [62]:
df.columns.to_list()

['Variant',
 'Region, subregion, country or area *',
 'Notes',
 'Location code',
 'ISO3 Alpha-code',
 'ISO2 Alpha-code',
 'SDMX code**',
 'Type',
 'Parent code',
 'Year',
 'Total Population, as of 1 January (thousands)',
 'Total Population, as of 1 July (thousands)',
 'Male Population, as of 1 July (thousands)',
 'Female Population, as of 1 July (thousands)',
 'Population Density, as of 1 July (persons per square km)',
 'Population Sex Ratio, as of 1 July (males per 100 females)',
 'Median Age, as of 1 July (years)',
 'Natural Change, Births minus Deaths (thousands)',
 'Rate of Natural Change (per 1,000 population)',
 'Population Change (thousands)',
 'Population Growth Rate (percentage)',
 'Population Annual Doubling Time (years)',
 'Births (thousands)',
 'Births by women aged 15 to 19 (thousands)',
 'Crude Birth Rate (births per 1,000 population)',
 'Total Fertility Rate (live births per woman)',
 'Net Reproduction Rate (surviving daughters per woman)',
 'Mean Age Childbearing (years)',
 'Sex Ratio at Birth (males per 100 female births)',
 'Total Deaths (thousands)',
 'Male Deaths (thousands)',
 'Female Deaths (thousands)',
 'Crude Death Rate (deaths per 1,000 population)',
 'Life Expectancy at Birth, both sexes (years)',
 'Male Life Expectancy at Birth (years)',
 'Female Life Expectancy at Birth (years)',
 'Life Expectancy at Age 15, both sexes (years)',
 'Male Life Expectancy at Age 15 (years)',
 'Female Life Expectancy at Age 15 (years)',
 'Life Expectancy at Age 65, both sexes (years)',
 'Male Life Expectancy at Age 65 (years)',
 'Female Life Expectancy at Age 65 (years)',
 'Life Expectancy at Age 80, both sexes (years)',
 'Male Life Expectancy at Age 80 (years)',
 'Female Life Expectancy at Age 80 (years)',
 'Infant Deaths, under age 1 (thousands)',
 'Infant Mortality Rate (infant deaths per 1,000 live births)',
 'Live Births Surviving to Age 1 (thousands)',
 'Under-Five Deaths, under age 5 (thousands)',
 'Under-Five Mortality (deaths under age 5 per 1,000 live births)',
 'Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)',
 'Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)',
 'Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)',
 'Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)',
 'Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)',
 'Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)',
 'Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)',
 'Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)',
 'Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)',
 'Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)',
 'Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)',
 'Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)',
 'Net Number of Migrants (thousands)',
 'Net Migration Rate (per 1,000 population)']

In [63]:
dff=df[['Region, subregion, country or area *','Type','Location code','Parent code','Year','Total Population, as of 1 July (thousands)',
 'Male Population, as of 1 July (thousands)',
 'Female Population, as of 1 July (thousands)','Births (thousands)',
 'Births by women aged 15 to 19 (thousands)','Total Deaths (thousands)','Life Expectancy at Birth, both sexes (years)',
 'Male Life Expectancy at Birth (years)',
 'Female Life Expectancy at Birth (years)']]

In [64]:
dff.drop('Index', inplace=True)
type=dff['Type']

C:\Users\E City\AppData\Local\Temp\ipykernel_15012\1131991441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff.drop('Index', inplace=True)

In [65]:
type

Index
1               World
2               World
3               World
4               World
5               World
             ...
20592    Country/Area
20593    Country/Area
20594    Country/Area
20595    Country/Area
20596    Country/Area
Name: Type, Length: 20596, dtype: object

In [66]:
dff['Total Population, as of 1 July (thousands)']=dff['Total Population, as of 1 July (thousands)'].replace({' ':''}, regex=True)

C:\Users\E City\AppData\Local\Temp\ipykernel_15012\3479718204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff['Total Population, as of 1 July (thousands)']=dff['Total Population, as of 1 July (thousands)'].replace({' ':''}, regex=True)

In [67]:
for col in dff.iloc[:,1:]:
    print(col)

Type
Location code
Parent code
Year
Total Population, as of 1 July (thousands)
Male Population, as of 1 July (thousands)
Female Population, as of 1 July (thousands)
Births (thousands)
Births by women aged 15 to 19 (thousands)
Total Deaths (thousands)
Life Expectancy at Birth, both sexes (years)
Male Life Expectancy at Birth (years)
Female Life Expectancy at Birth (years)

In [68]:
for col in dff.iloc[:,1:]:
    #dff[col]=dff[col].replace({' ':''}, regex=True)
    dff[col]= pd.to_numeric(dff[col].replace({' ':''}, regex=True), errors='coerce')

C:\Users\E City\AppData\Local\Temp\ipykernel_15012\3842916611.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff[col]= pd.to_numeric(dff[col].replace({' ':''}, regex=True), errors='coerce')

In [69]:
dff['Type']=type
dff

C:\Users\E City\AppData\Local\Temp\ipykernel_15012\3040411935.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff['Type']=type

,"Region, subregion, country or area *",Type,Location code,Parent code,Year,"Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Births (thousands),Births by women aged 15 to 19 (thousands),Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years)
Index,,,,,,,,,,,,,,
1,WORLD,World,900,0,1950.0,2499322.0,1245363.0,1253959.0,92083.0,10629.0,48789.0,46.5,44.6,48.4
2,WORLD,World,900,0,1951.0,2543130.0,1267473.0,1275657.0,92837.0,10742.0,48515.0,47.1,45.4,49.0
3,WORLD,World,900,0,1952.0,2590271.0,1291400.0,1298871.0,97607.0,11232.0,47647.0,48.2,46.6,49.9
4,WORLD,World,900,0,1953.0,2640279.0,1316659.0,1323620.0,97556.0,11201.0,47499.0,48.8,47.2,50.4
5,WORLD,World,900,0,1954.0,2691979.0,1342923.0,1349056.0,100348.0,11471.0,47003.0,49.6,48.0,51.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20592,Wallis and Futuna Islands,Country/Area,876,957,2017.0,12.0,6.0,6.0,0.0,0.0,0.0,77.5,77.1,78.0
20593,Wallis and Futuna Islands,Country/Area,876,957,2018.0,12.0,6.0,6.0,0.0,0.0,0.0,77.9,76.4,79.5
20594,Wallis and Futuna Islands,Country/Area,876,957,2019.0,12.0,6.0,6.0,0.0,0.0,0.0,79.6,78.6,80.6
20595,Wallis and Futuna Islands,Country/Area,876,957,2020.0,12.0,6.0,6.0,0.0,0.0,0.0,78.8,77.7,79.8
20596,Wallis and Futuna Islands,Country/Area,876,957,2021.0,12.0,6.0,6.0,0.0,0.0,0.0,78.4,77.1,79.9

In [70]:
cond2000=(dff['Year']==2000)
cond2021=(dff['Year']==2021)
new=dff[(cond2000) | (cond2021)]
new

,"Region, subregion, country or area *",Type,Location code,Parent code,Year,"Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Births (thousands),Births by women aged 15 to 19 (thousands),Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years)
Index,,,,,,,,,,,,,,
51,WORLD,World,900,0,2000.0,6148899.0,3091100.0,3057799.0,134014.0,18060.0,52100.0,66.5,64.1,68.9
72,WORLD,World,900,0,2021.0,7909295.0,3976648.0,3932647.0,133975.0,12806.0,69248.0,71.0,68.4,73.8
124,Sub-Saharan Africa,SDG region,1834,1828,2000.0,646634.0,319986.0,326649.0,26982.0,4528.0,9491.0,50.6,49.1,52.0
145,Sub-Saharan Africa,SDG region,1834,1828,2021.0,1137939.0,566867.0,571072.0,39441.0,6114.0,10466.0,59.7,57.8,61.6
196,Northern Africa and Western Asia,SDG region,1833,1828,2000.0,361662.0,184436.0,177225.0,9497.0,982.0,2186.0,68.6,66.2,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20452,Tonga,Country/Area,776,957,2021.0,106.0,52.0,54.0,2.0,0.0,1.0,71.0,68.4,73.7
20503,Tuvalu,Country/Area,798,957,2000.0,10.0,5.0,5.0,0.0,0.0,0.0,63.5,61.3,65.6
20524,Tuvalu,Country/Area,798,957,2021.0,11.0,6.0,5.0,0.0,0.0,0.0,64.5,60.8,69.1
20575,Wallis and Futuna Islands,Country/Area,876,957,2000.0,15.0,7.0,7.0,0.0,0.0,0.0,74.6,73.8,75.2
20596,Wallis and Futuna Islands,Country/Area,876,957,2021.0,12.0,6.0,6.0,0.0,0.0,0.0,78.4,77.1,79.9

In [71]:
dff['prevdif'] = dff.groupby(['Region, subregion, country or area *'])['Life Expectancy at Birth, both sexes (years)'].diff()
dff

C:\Users\E City\AppData\Local\Temp\ipykernel_15012\3794274547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff['prevdif'] = dff.groupby(['Region, subregion, country or area *'])['Life Expectancy at Birth, both sexes (years)'].diff()

,"Region, subregion, country or area *",Type,Location code,Parent code,Year,"Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Births (thousands),Births by women aged 15 to 19 (thousands),Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),prevdif
Index,,,,,,,,,,,,,,,
1,WORLD,World,900,0,1950.0,2499322.0,1245363.0,1253959.0,92083.0,10629.0,48789.0,46.5,44.6,48.4,NaN
2,WORLD,World,900,0,1951.0,2543130.0,1267473.0,1275657.0,92837.0,10742.0,48515.0,47.1,45.4,49.0,0.6
3,WORLD,World,900,0,1952.0,2590271.0,1291400.0,1298871.0,97607.0,11232.0,47647.0,48.2,46.6,49.9,1.1
4,WORLD,World,900,0,1953.0,2640279.0,1316659.0,1323620.0,97556.0,11201.0,47499.0,48.8,47.2,50.4,0.6
5,WORLD,World,900,0,1954.0,2691979.0,1342923.0,1349056.0,100348.0,11471.0,47003.0,49.6,48.0,51.2,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20592,Wallis and Futuna Islands,Country/Area,876,957,2017.0,12.0,6.0,6.0,0.0,0.0,0.0,77.5,77.1,78.0,-0.8
20593,Wallis and Futuna Islands,Country/Area,876,957,2018.0,12.0,6.0,6.0,0.0,0.0,0.0,77.9,76.4,79.5,0.4
20594,Wallis and Futuna Islands,Country/Area,876,957,2019.0,12.0,6.0,6.0,0.0,0.0,0.0,79.6,78.6,80.6,1.7
20595,Wallis and Futuna Islands,Country/Area,876,957,2020.0,12.0,6.0,6.0,0.0,0.0,0.0,78.8,77.7,79.8,-0.8
20596,Wallis and Futuna Islands,Country/Area,876,957,2021.0,12.0,6.0,6.0,0.0,0.0,0.0,78.4,77.1,79.9,-0.4

In [72]:
new['prevdif'] = new.groupby(['Region, subregion, country or area *'])['Life Expectancy at Birth, both sexes (years)'].diff()
new

C:\Users\E City\AppData\Local\Temp\ipykernel_15012\3448447587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['prevdif'] = new.groupby(['Region, subregion, country or area *'])['Life Expectancy at Birth, both sexes (years)'].diff()

,"Region, subregion, country or area *",Type,Location code,Parent code,Year,"Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Births (thousands),Births by women aged 15 to 19 (thousands),Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),prevdif
Index,,,,,,,,,,,,,,,
51,WORLD,World,900,0,2000.0,6148899.0,3091100.0,3057799.0,134014.0,18060.0,52100.0,66.5,64.1,68.9,NaN
72,WORLD,World,900,0,2021.0,7909295.0,3976648.0,3932647.0,133975.0,12806.0,69248.0,71.0,68.4,73.8,4.5
124,Sub-Saharan Africa,SDG region,1834,1828,2000.0,646634.0,319986.0,326649.0,26982.0,4528.0,9491.0,50.6,49.1,52.0,NaN
145,Sub-Saharan Africa,SDG region,1834,1828,2021.0,1137939.0,566867.0,571072.0,39441.0,6114.0,10466.0,59.7,57.8,61.6,9.1
196,Northern Africa and Western Asia,SDG region,1833,1828,2000.0,361662.0,184436.0,177225.0,9497.0,982.0,2186.0,68.6,66.2,71.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20452,Tonga,Country/Area,776,957,2021.0,106.0,52.0,54.0,2.0,0.0,1.0,71.0,68.4,73.7,2.0
20503,Tuvalu,Country/Area,798,957,2000.0,10.0,5.0,5.0,0.0,0.0,0.0,63.5,61.3,65.6,NaN
20524,Tuvalu,Country/Area,798,957,2021.0,11.0,6.0,5.0,0.0,0.0,0.0,64.5,60.8,69.1,1.0
20575,Wallis and Futuna Islands,Country/Area,876,957,2000.0,15.0,7.0,7.0,0.0,0.0,0.0,74.6,73.8,75.2,NaN
20596,Wallis and Futuna Islands,Country/Area,876,957,2021.0,12.0,6.0,6.0,0.0,0.0,0.0,78.4,77.1,79.9,3.8

In [73]:
new.to_csv('world_data_.csv')

In [74]:
dff.to_csv('world_data.csv')